<%- include('./partials/head') %>

</head>
<body class="body-detalle">
<%- include('./partials/header') %>

    <div class="uk-container">
        <div class="uk-section">
            <h1 class="uk-text-center"><%= unProducto.nombre %> </h1>

            <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
                <img class="imagen-producto" src="<%= unProducto.img_url %>"  alt="Imagen del producto">
                <h2>Precio: U$D <%= unProducto.precio %> </h2>
                <h3>Marca: <%= unProducto.marca %> </h3>
            </div>

            <div class="preguntas">
                
            </div>
        
        
        
        
        
        
        </div>
    </div>


</body>
</html>